{
	"tabWidth": 4,
	"jsxBracketSameLine": false,
  	"jsxSingleQuote": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"proseWrap": "always",
	"arrowParens": "always",
	"useTabs": true,
	"printWidth": 150,
	"trailingComma": "es5",
	"quoteProps": "as-needed",
	"semi": true
}