a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 368px) {
  .logo {
    height: 5em !important;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin-glow {
  from {
    filter: drop-shadow(0 0 0em #fff);
  }
  to {
    filter: drop-shadow(0 0 2em #61dafbc6);
  }
}

@keyframes logo-grow {
  from {
    transform: scale(1);
    filter: drop-shadow(0 0 0em #fff);
  }
  to {
    transform: scale(1.1) ;
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

@keyframes logo-grow-glow {
  from {
    filter: drop-shadow(0 0 0em #fff);
  }
  to {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-grow infinite 1.5s alternate, logo-grow-glow infinite 1.5s alternate;
  }
  a:nth-of-type(2) .logo.react {
    animation: logo-spin infinite 20s linear, logo-spin-glow infinite 1.5s alternate;
  }
}